:root{
    background-color: coral;
}

.grid-container{
   
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3px;
    padding-left: 15%;
    padding-right: 15%;
}

.item{
    background-color: white;
    padding:20px;
    border-radius: 3px;
    font-weight: bold;
    padding-left: 15px;;
}

.button-container{
    border-radius: 3px;
    grid-column: 1/-1;
    height:50px

}

.btn-load{
    background-color: white;
    grid-column: 1/-1;
    width: 100%;
    height:100%;
    border: none;
    font-weight: bold;
}

button:hover {
    background: rgb(218, 218, 216);
    cursor: pointer;
 }

 button:active{
     cursor:wait;
 }